<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/feed.css" />
  </head>
  <body>
    <body>
      <header
        class="py-2 items-center inline-block align-middle w-full px-10 py-3 flex justify-between text-white"
        style="display: flex; justify-content: space-between"
      >
        <h1 class="px-2"><a href="/profile"> Profile</a></h1>
        <input
          class="bg-zinc-400 search w-9/12 rounded-full py-1"
          type="search"
          placeholder="Search"
        />
        <h1 class="text-3xl font-bold mt-2 px-2"></h1>
      </header>

      <div class="container px-2">
        <div class="box">
          <a
            href="ttps://oriontralelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/e0/3d/4a/e03d4abf840bdbd1c5795c9c8e8b593f.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/e4/02/35/e40235c134ef0f8372313a2649a30e0c.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://sciencecalx.com/wp-content/uploads/2023/07/chemistry.png"
          >
            <img
              src="https://i.pinimg.com/564x/db/cf/2e/dbcf2e7fc779ff9503aa719b1f91d705.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/003.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/2f/1a/7c/2f1a7cc542672b82bb2ee186c5f37ce7.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/002.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/2f/1a/7c/2f1a7cc542672b82bb2ee186c5f37ce7.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/001.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/d2/02/43/d20243f8700261c540fc842017f77fa8.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/006.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/d2/02/43/d20243f8700261c540fc842017f77fa8.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/007.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/75/52/17/755217f48936128069c88e2afa985057.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/008.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/af/ef/16/afef1668c9dd3723d04596e77eb1c9de.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>
        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/008.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/af/ef/16/afef1668c9dd3723d04596e77eb1c9de.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://orionstardesign.com/wp-content/uploads/2023/08/009-scaled.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/17/c8/34/17c8342cda26d5c749ff51f954464160.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://i.pinimg.com/564x/17/c8/34/17c8342cda26d5c749ff51f954464160.jpg"
          >
            <img
              src="https://i.pinimg.com/564x/17/c8/34/17c8342cda26d5c749ff51f954464160.jpg"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>
        <div class="box">
          <a
            href="https://i.pinimg.com/564x/17/c8/34/17c8342cda26d5c749ff51f954464160.jpg"
          >
            <img src="
            <div class="box">
              <a
                href="https://i.pinimg.com/564x/17/c8/34/17c8342cda26d5c749ff51f954464160.jpg"
              >
                <img
                  src="https://i.pinimg.com/564x/17/c8/34/17c8342cda26d5c749ff51f954464160.jpg"
                  alt="image"
              /></a>
              <div class="caption">Lorem ipsum</div>
            </div>
            " alt="image" /></a
          >
          <div class="caption">Lorem ipsum</div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="app.js"></script>
    </body>
  </body>
</html>
